## INSTALLING KAGGLE

In [1]:
# !pip install kaggle

## IMPORTING KAGGLE

In [2]:
import kaggle

## DOWNLOADING DATASET

In [3]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

## EXTRACTING THE CSV FROM THE ZIPPED FILE

In [4]:
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall() # Extract File To Directory
zip_ref.close()

## READING DATA FROM THE FILE AND HANDLING NULL VALUES

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('orders.csv', na_values=['Not Available','unknown']) # The Values 'Not Available' & 'Unknown' Will Be Replaced By "Nan".
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [7]:
# To Get General Information About The Data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9988 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [8]:
# To Get The Unique Values Of Any Column
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

## RENAMING COLUMN NAMES

#### CONVERTING COLUMN NAMES TO LOWE CASE

In [9]:
df.columns = df.columns.str.lower()

In [10]:
df.columns

Index(['order id', 'order date', 'ship mode', 'segment', 'country', 'city',
       'state', 'postal code', 'region', 'category', 'sub category',
       'product id', 'cost price', 'list price', 'quantity',
       'discount percent'],
      dtype='object')

#### REPLACING THE BLANK SPACES IN COLUMN NAMES WITH "_"

In [11]:
df.columns = df.columns.str.replace(' ' , '_')

In [12]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [13]:
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

## DERIVE NEW COLUMNS --> DISCOUNT, SALES PRICE & PROFIT

In [14]:
# To Find How Much Discount Was Offered In Amounts As We Already Have 'Discount Percent'.
df['discount'] = df['list_price'] * df['discount_percent'] * .01

In [15]:
# Adding The Column Of 'Sales Price' which will Display The Discounted Price.
df['sales_price'] = df['list_price'] - df['discount']

In [16]:
# Adding the Column Of 'Profit'.
df['profit'] = df['sales_price'] - df['cost_price']

In [17]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

## CONVERTING THE DATA TYPE OF 'ORDER DATE' FROM OBJECT TO DATE-TIME

In [18]:
df['order_date'] = pd.to_datetime(df['order_date'] , format = '%Y-%m-%d')

In [19]:
df.dtypes['order_date']

# ALTERNATIVE WAY TO FIND DATA TYPE
# df['order_date'].dtypes

# OTHER INFORMATIONS:
# datetime64[ns = <M8[ns]

dtype('<M8[ns]')

## DROPPING THE COLUMNS 'COST PRICE' , 'LIST PRICE' & 'DISCOUNT PERCENT'

In [20]:
df.drop(columns=['list_price', 'cost_price', 'discount_percent'], inplace=True)

# inplace = True will make sure that the columns have been dropped from the Data Frame.

In [21]:
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sales_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

## LOADING DATA INTO SQL SERVER MANAGEMENT STUDIO

#### CREATING CONNECTION WITH SSMS

In [22]:
import sqlalchemy as sal

In [23]:
engine = sal.create_engine('mssql://saheef-desktop\SQLEXPRESS/master?driver=ODBC+Driver+17+for+SQL+Server')
conn = engine.connect()

#### LOADING DATA

In [26]:
# Using Replace Option.
# df.to_sql('df_orders', con=conn, index=False, if_exists='replace')

#Using Append Option.
df.to_sql('df_orders', con=conn, index=False, if_exists='append')

### <span style="color: red;">___NOTE!___</span>
##### If we use the 'replace' option, then the Data Types in SSMS will be maximized i-e Bigint etc. So to avoid using large memory space
##### we created a table in SSMS with the suitable and optimized Data Types and used the 'append' option in code.